<header class="p-3 mb-3 border-bottom">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
				<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
					<use xlink:href="#bootstrap"></use>
				</svg>
			</a>

			<ul class="nav me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{ path('app_index') }}" class="nav-link px-2 link-secondary">Quiz</a>
				</li>
				<li>
					<a href="{{ path('app_index') }}" class="nav-link px-2 link-secondary">Dokumente</a>
				</li>
			</ul>

			<form class="me-2 mb-lg-0 me-lg-3">
				<input type="search" class="form-control" placeholder="Suche..." aria-label="Suche">
			</form>

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<div class="dropdown text-end">
					<a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
						{% if user.avatarurl is defined and user.avatarurl is not empty%}
							<img src="{{ user.avatarurl }}" alt="avatar" width="32" height="32" class="rounded-circle">
						{% elseif user is defined and user is not empty %}
							<div class="rounded-circle">
								{{ user.firstname|first|capitalize }}{{ user.lastname|first|capitalize }}
							</div>
						{% else %}
							<div class="d-flex justify-content-center align-items-center rounded-circle bg-primary px-2 py-1" style="width: 42px; height:42px;">U</div>
						{% endif %}
					</a>
					<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
						<li>
							<a class="dropdown-item" href="#">Quiz</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Einstellungen</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Profil</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_logout') }}">Abmelden</a>
						</li>
					</ul>
				</div>
			{% else %}
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#authModal">
					Anmelden
				</button>
			{% endif %}
		</div>
	</div>
</header>
